<div id="container">
    <div id="main">
      <header>

      <h3 id="tagline">website info for Products</h3>
      </header>

      <div id="maincontent">
        <article>

        <p>BrandProducts can Avalabel here PLZ you have to be login.</p>
      </article>
      </div>
      <aside id="sidebar">
        <h3>Signup</h3>
        <p>Become a member of abhiweb! <a href="#">Email us</a> to receive frequent notices on upcoming live shows.</p>
      </aside>
      <footer id="contactinfo">
        <marquee>welcome U AbhiWeb</marquee>
      </footer>
    </div>
    </div>
