<div style="padding-top: 200px;" *ngIf="isloading;else elseblock">
  <!-- <div  class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div> -->
<circle-progress class="float"
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<!-- <mat-progress-bar  class="app-progress-bar"
          [mode]="'indeterminate'">
</mat-progress-bar> -->
</div>
<ng-template #elseblock>
<app-menu></app-menu>
<!-- <router-outlet></router-outlet> -->
</ng-template>
